@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="form-group">
    <input type="text" id="searchQuery" class="form-control" placeholder="Search files and folders..." />
    <button id="searchButton" class="btn btn-primary mt-2">Search</button>
</div>

<table class="table">
    <thead>
        <tr>
            <td>
                <input type="file" id="fileInput" name="file" required />
            </td>
            <td>
                <button id="uploadButton" class="btn btn-success">Upload</button>
            </td>
        </tr>
        <tr>
            <th>File/Folder Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="folderContentsBody">
        <!-- İçerik buraya AJAX ile doldurulacak -->
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        var baseurl = "http://localhost:5287/";
        var gettoken = localStorage.getItem("token");

        $("#uploadButton").click(function () {
            uploadFile();
        });
        $("#searchButton").click(function () {
            searchFilesAndFolders();
        });

        function getFolderContents() {
            $.ajax({
                type: "GET",
                url: baseurl + "api/EFolder/GetFolderContents",
                headers: {
                    "Authorization": "Bearer " + gettoken
                },
                success: function (response) {
                    console.log("API Response:", response);
                    displayFolderContents(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error: " + status + " " + error);
                }
            });
        }

        function displayFolderContents(folderContents) {
            var html = "";
            if (Array.isArray(folderContents)) {
                folderContents.forEach(function (folder) {
                    html += "<tr>";
                    html += "<td>" + folder.folderName + "</td>";
                    html += "<td>";
                    html += "<button class='btn btn-primary' onclick='downloadFile(" + folder.id + ")'>Download</button> ";
                    html += "<button class='btn btn-info' onclick='moveToFolder(" + folder.id + ")'>Move</button>";
                    html += "</td>";
                    html += "</tr>";
                });
            }
            $("#folderContentsBody").html(html);
        }

        function uploadFile() {
            var fileInput = document.getElementById('fileInput');
            var file = fileInput.files[0];
            var formData = new FormData();
            formData.append('file', file);

            $.ajax({
                type: 'POST',
                url: baseurl + 'api/EFolder/UploadFile',
                headers: {
                    "Authorization": "Bearer " + gettoken
                },
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    console.log("Upload Response:", response);
                    getFolderContents(); 
                },
                error: function (xhr, status, error) {
                    console.error('Error: ' + status + ' ' + error);
                }
            });
        }

        function downloadFile(fileId) {
            $.ajax({
                type: "GET",
                url: baseurl + "api/EFolder/Download/" + fileId,
                headers: {
                    "Authorization": "Bearer " + gettoken
                },
                xhrFields: {
                    responseType: 'blob'
                },
                success: function (response, status, xhr) {
                    var filename = "";
                    var disposition = xhr.getResponseHeader('Content-Disposition');
                    if (disposition && disposition.indexOf('attachment') !== -1) {
                        var matches = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/.exec(disposition);
                        if (matches != null && matches[1]) {
                            filename = matches[1].replace(/['"]/g, '');
                        }
                    }
                    var blob = new Blob([response], { type: 'application/octet-stream' });
                    if (window.navigator.msSaveOrOpenBlob) {
                        window.navigator.msSaveBlob(blob, filename);
                    } else {
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = filename;
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error: " + status + " " + error);
                }
            });
        }

        function moveToFolder(folderId) {
            var newParentFolderId = 2; 
            var moveDto = {
                NewParentFolderId: newParentFolderId
            };

            var apiUrl = baseurl + "api/EFolder/Move/" + folderId; 

            $.ajax({
                type: "PUT",
                url: apiUrl,
                headers: {
                    "Authorization": "Bearer " + gettoken
                },
                contentType: "application/json",
                data: JSON.stringify(moveDto),
                success: function (response) {
                    console.log("Move Response:", response);
                    getFolderContents();
                },
                error: function (xhr, status, error) {
                    console.error("Error: " + status + " " + error);
                }
            });
        }
        function searchFilesAndFolders() {
            var searchDto = {
                query: $("#searchQuery").val(),
                includeFolders: true, 
                includeFiles: true    
            };

            $.ajax({
                type: "GET",
                url: baseurl + "api/EFolder/Search",
                data: searchDto,
                success: function (response) {
                    console.log("Search Response: ", response);
                    displayFolderContents(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error: " + status + " " + error);
                }
            });
        }


        getFolderContents();

        window.downloadFile = downloadFile;
        window.moveToFolder = moveToFolder;
    });
</script>
