@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Dosya Yönetim Portalı Giriş Sayfası">
    <meta name="author" content="">

    <title>Dosya Yönetim Portalı - Giriş Yap</title>

    <!-- Custom fonts for this template-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/sbadmin/css/sb-admin-2.min.css" rel="stylesheet">

    <style>
        body {
            background: url('https://source.unsplash.com/1920x1080/?files,technology') no-repeat center center fixed;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: 'Nunito', sans-serif;
            color: #fff;
        }

        .card {
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background: rgba(255, 255, 255, 0.9);
            color: #333;
        }

        .form-control {
            border-radius: 50px;
            padding: 20px;
        }

        .btn-user {
            border-radius: 50px;
            padding: 15px;
            transition: background-color 0.3s ease;
        }

            .btn-user:hover {
                background-color: #5a67d8;
            }

        .text-gray-900 {
            color: #343a40 !important;
        }

        .text-center a {
            color: #5a67d8;
        }

            .text-center a:hover {
                color: #3b49df;
            }
    </style>

</head>

<body>

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-3 d-none d-lg-block bg-login-image" style="background: url('https://source.unsplash.com/600x800/?files,technology') center; background-size: cover;"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Dosya Yönetim Portalı</h1>
                                        <h2 class="h6 text-gray-700 mb-4">Oturum Açınız</h2>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                   id="txtUserName" aria-describedby="emailHelp"
                                                   placeholder="Kullanıcı Adı">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                   id="txtPassword" placeholder="Parola">
                                        </div>

                                        <button type="submit" class="btn btn-primary btn-user btn-block" id="btnLogin">
                                            Oturum Aç
                                        </button>

                                    </form>
                                    <hr>

                                    <div id="divResult"></div>
                                    <div class="text-center">
                                        <a class="small" href="~/Home/SignIn">Kayıt Ol</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 d-none d-lg-block"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/sbadmin/vendor/jquery/jquery.min.js"></script>
    <script src="~/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/sbadmin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/sbadmin/js/sb-admin-2.min.js"></script>
    <script>
        $(document).ready(function () {
            var ApiBaseUrl = "@ViewBag.ApiBaseUrl";
            $("#btnLogin").click(function (e) {
                e.preventDefault();

                var username = $("#txtUserName").val();
                var password = $("#txtPassword").val();

                if (username === "" || password === "") {
                    $("#divResult")
                        .show()
                        .removeClass()
                        .addClass("alert alert-danger")
                        .html("Tüm alanları doldurunuz")
                        .fadeOut(5000);

                    return false;
                }

                var login = {
                    UserName: username,
                    Password: password
                };

                $.ajax({
                    url: ApiBaseUrl + "User/SignIn",
                    method: "POST",
                    data: JSON.stringify(login),
                    contentType: "application/json",
                    success: function (data) {
                        if (data.status) {
                            localStorage.setItem("token", data.message);
                            location.href = "/Home/Index";
                        } else {
                            $("#divResult")
                                .show()
                                .removeClass()
                                .addClass("alert alert-danger")
                                .html(data.message)
                                .fadeOut(3000);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                        $("#divResult")
                            .show()
                            .removeClass()
                            .addClass("alert alert-danger")
                            .html("Bir hata oluştu.")
                            .fadeOut(3000);
                    }
                });
            });
        });

    </script>
</body>

</html>
