@{
    ViewData["Title"] = "Kategori İşlemleri";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div id="divResult" class="alert"></div>

<div class="container">
    <h1 class="mt-4">Kategori İşlemleri</h1>
    <div id="divResult" class="alert"></div>
    <div class="row mt-4">
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Kategori Adı</th>
                            <th>Açıklama</th>
                            <th>Durumu</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="kategoriListesi">
                        <!-- Dinamik içerik buraya eklenecek -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Kategori Ekle
                </div>
                <div class="card-body">
                    <form id="kategoriForm">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" name="description" placeholder="Enter description">
                        </div>
                        <div class="form-group">
                            <label for="isActive">Is Active</label>
                            <select class="form-control" id="isActive" name="isActive">
                                <option value="true">Active</option>
                                <option value="false">Passive</option>
                            </select>
                        </div>
                        <button id="ekle" class="btn btn-primary mt-3">Kaydet</button>
                        <button id="guncelle" class="btn btn-dark mt-3" style="display:none;">Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {
        listele();

        $("#kategoriForm").submit(function (e) {
            e.preventDefault();
            var visable = $("#guncelle").is(":visible");
            if (visable) {
                guncelle();
            } else {
                ekle();
            }
        });
    });

    var selectedCategoryId = null;
    var baseurl = "http://localhost:5287/";
    var gettoken = localStorage.getItem("token");

    function listele() {
        $.ajax({
            type: "GET",
            url: baseurl + "api/Category",
            contentType: "application/json",
            headers: {
                "Authorization": "Bearer " + gettoken
            },
            success: function (response) {
                var html = "";
                $.each(response, function (index, item) {
                    html += "<tr>";
                    html += "<td>" + item.name + "</td>";
                    html += "<td>" + item.description + "</td>";
                    html += "<td>" + (item.isActive ? "Active" : "Passive") + "</td>";
                    html += "<td>";
                    html += "<button class='btn btn-primary' onclick='duzenle(" + item.id + ", \"" + item.name + "\", \"" + item.description + "\", " + item.isActive + ")'>Düzenle</button> ";
                    html += "<button class='btn btn-danger' onclick='sil(" + item.id + ")'>Sil</button>";
                    html += "</td>";
                    html += "</tr>";
                });
                $("#kategoriListesi").html(html);
            },
            error: function (xhr, status, error) {
                console.error("Error: " + status + " " + error);
            }
        });
    }

    function sil(id) {
        $.ajax({
            type: "DELETE",
            url: baseurl + "api/Category/" + id,
            contentType: "application/json",
            headers: {
                "Authorization": "Bearer " + gettoken
            },
            success: function (response) {
                listele();
                $("#divResult").show().removeClass().addClass("alert alert-success").html("Silme Başarılı").fadeOut(5000);
            },
            error: function (xhr, status, error) {
                console.error("Error: " + status + " " + error);
            }
        });
    }

    function ekle() {
        var CategoryAddDto = {
            name: $("#name").val(),
            description: $("#description").val(),
            isActive: $("#isActive").val() === "true"
        };

        $.ajax({
            type: "POST",
            url: baseurl + "api/Category",
            contentType: "application/json",
            data: JSON.stringify(CategoryAddDto),
            headers: {
                "Authorization": "Bearer " + gettoken
            },
            success: function (response) {
                $("#kategoriForm")[0].reset();
                listele();
                $("#divResult").show().removeClass().addClass("alert alert-success").html("Kayıt Başarılı").fadeOut(5000);
            },
            error: function (xhr, status, error) {
                console.error("Error: " + status + "
